@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

.animate__animated.animate__bounce {
  --animate-duration: 2s;
  
}

* {
  font-family: "Ubuntu";
  text-align: justify;
}

h1 {
  color: lightslategrey;
  font-weight: bold;
  padding-top: 25px;
  padding-left: 10px;
  font-size: xx-large;
}

h4,
h6 {
  text-align: center;
  font-weight: bold;

}

h5 {
  text-align: left;
  font-size: medium;
  font-weight: bold;
  
}

.titulo-logo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: larger;
  color: cyan;
  justify-content: left;
  padding: 20 px;
  margin-top: 20px;
  align-content: center;
}

.nav {
  display: grid;
  /* flex-wrap: wrap;
  flex-direction: row; */
  background-color: grey;
  padding: 20px;
  justify-content: space-around;
  color: white;
  font-weight: bold;
  border-end-end-radius: 50px;
  border-end-start-radius: 50px;
  margin-bottom: 5px;
  width: auto;

}

#menu-nav {
  color: white;
  font-weight: bold;
  text-decoration-line: none;
  padding: 20px;
}

#menu-nav:hover {
  background-color: lightskyblue;
  color: black;
  padding: 20px;

}


.banner-bienvenida {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  opacity: 0.8;
  position: relative;
}

.imagen-bienvenida {
  background-image: url("img/inicio.jpg");
  background-size: cover;
  background-repeat:no-repeat;
  width: 100%;
  height: 40rem;
  padding-top: 5px;
  
}

.imagen-bienvenida-cursos {
  background-image: url("img/propuesta.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 30rem;
  padding-top: 5px;
}

.imagen-bienvenida-nosotros {
  background-image: url("img/Nosotros.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 30rem;
  padding: 10px;
}

.imagen-bienvenida-faqs {
  background-image: url("img/question-mark-gddcf4f54d_1920.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 30rem;
  padding: 10px;
}

/* en estas clases, cambiar formatos del texto en los puntos de corte */

.texto-bienvenida {
  background-color:darkcyan;
  padding: 20px;
  margin-top: 160px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 10px;
  opacity: 0.8;
  position: sticky;
  top: 100px;
  text-align: center;
  color: white;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.contenedor-grid {
  display: grid;
  padding: 20px;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 10px;
  align-content: center;
  justify-items: center;
  text-align: left;
}

.item-grid {
  padding: 10px;
  background-color: lightgray;
  
}

#item1,
#item2,
#item3,
#item4 {
  align-content: center;
  justify-items: center;
  text-align: center;
 
}

.container-hanging {
background-color: white;
border: 2px;
border-color: grey;
padding: 10px;
}

.contenedor-grid-nosotros {
  display: grid;
  padding: 10px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
   
}

.contenedor-accordion {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  
  padding: 10px;
  
  margin: 2px;
  border-color: grey;
} 

.contenedor {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: lightsteelblue;
  padding: 10px;
  font-weight: bold;
  color: black;
  margin: 2px;
  border-color: grey;
} 

#contenido-titulo {
  flex-direction: column;
  padding: 20px;
  border-color: white;
  font-weight: bolder;
  font-size: 1.5rem;
  color: black;
  margin-top: 15px;
  text-align: left;
}

#contenido {
  display: flex;
  margin: 25px;
  flex-direction: row;
  flex-wrap: wrap;
  border-color: white;
  list-style-type: none;
 
}

ul li {
  list-style-type: none;
  text-align: left;
}

.contenedor-cards { /*Estilo de clase de la pagina cursos*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 30px;

}

/* Estilos del footer y redes sociales */
.pie-de-pagina {
  display: grid;
  /* flex-wrap: wrap;
  flex-direction: column;  */
  justify-content: right;
  background-color: darkgrey;
  font-weight: bold;
  color: white;
  margin: 2px;
  border-color: lightseagreen;
  padding: 5px;
}

#redes-sociales {
  justify-content: left;
  padding: 10px;

}

.iconos-social {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: large;
  text-align: center;
  align-items: center;
  
}

.botones-footer {
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  
}

.button {
  background-color: blue;
  color: white;
  padding: 15px 25px;
  text-decoration: none;

}

.button:hover {
  background-color: lightskyblue;
  color: black;
}

/* Estilos de cards bootstrap */

.card {
  padding: 20px;
}

.card-img-top {
  width: 18rem;
  height: 15rem;
  text-align: center; 
  color: cornflowerblue;
}

.card-title {
  font-weight: bold;
}

.card-text {
  text-align: left;
}


/* Estilos del formulario */

h3 {
text-align: left;
}

#form {
  
  border:1px solid white;
  padding: 10px;
  margin: 10px;
  
}
/* #form legend{  //para el caso de querer utilizarlo// 
  font-weight:bold;
  font-size:12px; 
}
  */

#form ol{
  list-style: none;
}
#form ol li{ 
  padding-bottom:5px;
  
}
#form ol li label{
  width: 50%;
  float:left;
  text-align:left;
}
#form input {
  display: inline-block;
  border:1px solid whitesmoke;
}
#form input[type="submit"] {
  padding:5px;
  color: white;
  background-color: blue;
  border: 2px; 
  border-color: aqua;
  text-align: center;
}


/* Puntos de corte responsive Mobile y Tablet */

/* Tablet */
@media (min-width: 641px) and (max-width: 1080px) {
  
.titulo-logo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: larger;
  color: cyan;
  justify-content: center;
  padding: 20px;
  margin-top: 20px;
}

.contenedor-grid {
  display: grid;
  padding: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 10px;

}

.item-grid {
  align-content: center;
  justify-items: center;
  text-align: center;
}

#item1,
#item2,
#item3,
#item4 {
  align-content: center;
  justify-items: center;
  text-align: center;
  align-items: center;
 
}
  
.contenedor-grid-nosotros {
display: inline-grid;
padding: 10px;
grid-template-columns: auto 1fr;
grid-template-rows: auto 1fr;
gap: 10px;

}
  
/* Experimento   
fieldset #form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

}*/


/* Mobile */
@media (min-width: 240px) and (max-width: 640px) {
      
  .nav{ 
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
      padding: 10px;
      gap: 20px;
    }

    .titulo-logo {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      font-size: 3rem;
      color: cyan;
      justify-content: center;
      padding: 20 px;
      margin-top: 20px;
    }

    
    .texto-bienvenida {
      background-color: goldenrod;
      padding: 20px;
      margin-top: 100px;
      margin-left: 30px;
      margin-right: 30px;
      margin-bottom: 10px;
      opacity: 0.7;
      position: sticky;
      text-align: center;
      color: black;
      font-size: 1.5rem;
      font-weight: bold;
      letter-spacing: 10px;
      text-transform: uppercase;
    }
       
    #contenido {
      text-align: left;
      list-style: none;

    }

    .contenedor-cards {
      gap: 10px;
    }

     .contenedor-grid {
      display: grid;
      grid-template-columns: 1fr;
      
      padding: 10px;
      gap: 5px;
    
    }

    .contenedor-grid-nosotros {
      display: grid;
      grid-auto-columns: auto;
      grid-auto-flow: column;
      padding: 10px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto 1fr;
      gap: 10px;
       
    }

    .item-grid {
      align-content: center;
      justify-items: center;
      text-align: center;
    }
 
    #item1,
    #item2,
    #item3,
    #item4 {
      align-content: center;
      justify-items: center;
      text-align: center;
      grid-auto-columns: auto;
      grid-auto-flow: column;
     
    }

    #form ol li label{
      width: 30%;
      float:left;
      text-align:left;
    }

    span {
      text-align: center;
    }

    .pie-de-pagina {
      display: flex;
    }

    .iconos-social {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    text-align: center;
    }

    .botones-footer {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      padding: 10px;
      padding-top: 20px;
      padding-bottom: 20px;
      gap: 10px;
    }

}
